include head.pug
// Site wrapper
.wrapper
  // Navbar
  include navbar.pug

  // Main Sidebar Container
  include sidebar.pug

  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)

    // Main content
    section.content
      .container-fluid
        .row
          .col-12
            // Default box
            .card.custom-content
              .card-header
                h3.card-title Title
                .card-tools
                  button.btn.btn-tool(type='button' data-card-widget='collapse' data-toggle='tooltip' title='Collapse')
                    i.fas.fa-minus
                  button.btn.btn-tool(type='button' data-card-widget='remove' data-toggle='tooltip' title='Remove')
                    i.fas.fa-times
              .card-body
                | Main
              // /.card-body
              .card-footer
                | Footer
              // /.card-footer
            // /.card
    // /.content
  // /.content-wrapper
  include footer.pug
