footer.main-footer
  .float-right.d-none.d-sm-block
    b Version
    |  3.0.5
  strong
    | Copyright &copy; #{date}
// ./wrapper
// jQuery
script(src='/private/plugins/jquery/jquery.min.js')
// Bootstrap 4
script(src='/private/plugins/bootstrap/js/bootstrap.bundle.min.js')
// overlayScrollbars
script(src='/private/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='/private/js/adminlte.min.js')
// AdminLTE for demo purposes
script(src='/private/js/demo.js')