footer.main-footer
  .float-right.d-none.d-sm-block
    b Version
    |  3.0.5
  strong
    | Copyright &copy; 2014-2019 
    a(href='http://adminlte.io') AdminLTE.io
    | .
  |  All rights reserved.
// Control Sidebar
aside.control-sidebar.control-sidebar-dark
  // Control sidebar content goes here
// /.control-sidebar
// ./wrapper
// jQuery
script(src='/public/plugins/jquery/jquery.min.js')
// Bootstrap 4
script(src='/public/plugins/bootstrap/js/bootstrap.bundle.min.js')
// overlayScrollbars
script(src='/public/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='/public/js/adminlte.min.js')
// AdminLTE for demo purposes
script(src='/public/js/demo.js')