aside.main-sidebar.sidebar-dark-primary.elevation-4
  // Brand Logo
  a.brand-link(href="" + baseUrl)
    img.brand-image.img-circle.elevation-3(src='/private/img/AdminLTELogo.png' alt='Admin Store' style='opacity: 0.8;')
    span.brand-text.font-weight-light Admin Store
  // Sidebar
  .sidebar
    // Sidebar user (optional)
    .user-panel.mt-3.pb-3.mb-3.d-flex
      .image
        img.img-circle.elevation-2(src='/private/img/user2-160x160.jpg' alt='User Image')
      .info
        a.d-block(href="" + baseUrl + "/user/" + id)= login
    // Sidebar Menu
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
        //
          Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library
        li.nav-item
          a.nav-link(href='' + baseUrl + '/users')
            i.fas.fa-users.custom-style-icon
            p.link-space-left
              | Пользователи
        li.nav-item
          a.nav-link(href='' + baseUrl + '/settings')
            i.fas.fa-tools.custom-style-icon
            p.link-space-left
              | Настройки
        li.nav-header Продукты
        li.nav-item
          a.nav-link(href='' + baseUrl + '/productlist')
            i.fas.fa-clipboard-list.custom-style-icon
            p.link-space-left
              | Список товаров
        li.nav-item
          a.nav-link(href='' + baseUrl + '/addproduct')
            i.far.fa-calendar-plus.custom-style-icon
            p.link-space-left
              | Добавить новый товар
        li.nav-header Заказ
        li.nav-item
          a.nav-link(href='' + baseUrl + '/neworder')
            i.fas.fa-cart-arrow-down.custom-style-icon
            p.link-space-left
              | Новые заказы
        li.nav-item
          a.nav-link(href='' + baseUrl + '/processedorder')
            i.far.fa-calendar-check.custom-style-icon
            p.link-space-left
              | Обработанные заказы
        