include head.pug
body
  // Site wrapper
  .wrapper.custom-wrapper-signin
    .sigin
      .card.card-primary
        .card-header
          h3.card-title.custom-title-signin
            | Store CMS
        // /.card-header
        // form start
        form#quickForm(role='form' action="" + baseUrl + "/signin" method="post")
          .card-body
            .form-group
              label(for='login') Логин
              input#login.form-control(type='text' name='login')
            .form-group
              label(for='password') Пароль
              input#password.form-control(type='password' name='password')
            .form-group.mb-0
              label.text-error-signin= error
          // /.card-body
          .card-footer
            button.btn.btn-primary(type='submit') Войти

  // ./wrapper
  // jQuery
  script(src='/public/plugins/jquery/jquery.min.js')
  // Bootstrap 4
  script(src='/public/plugins/bootstrap/js/bootstrap.bundle.min.js')
  // overlayScrollbars
  script(src='/public/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
  // AdminLTE App
  script(src='/public/js/adminlte.min.js')
  // AdminLTE for demo purposes
  script(src='/public/js/demo.js')
