include head.pug
// Site wrapper
.wrapper
  // Navbar
  include navbar.pug

  // Main Sidebar Container
  include sidebar.pug

  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)

    // Main content
    section.content
      .container-fluid
        .row
          .col-6
            // Default box
            .card.custom-content
              .card-header
                h3.card-title Список пользователей
                
              .card-body
                .card
                  .card-body.p-0
                    table.table.table-sm
                      thead
                      tbody
                        each user in data  
                          tr
                            td.custom-full-name-padding= user.fname + ' ' + user.name
                            td.custom-display-view-edit-users
                              a(href="" + baseUrl + "/users/" + user.id)
                                button(type="button").btn.btn-block.btn-info.btn-sm.custom-info-btn-with Подробный просмотр
                              a(href="" + baseUrl + "/users/edit/" + user.id)
                                i.fas.fa-edit.custom-icon-edit-color

  // /.content-wrapper
  include footer.pug