html, body {
    height: 100% !important;
}
.custom-bottom-content-place {
    margin-bottom: 100px;
}
.custom-content {
    margin: 10px 0 0 0;
}
.link-space-left {
    margin-left: 15px !important;
}
.custom-style-icon {
    font-size: 18px;
}
.exit {
    margin-left: 5px;
}
.error-404 {
    text-align: center;
}
.error-404 h1 {
    margin: 40px 0;
}
.error-404 a {
    border: 1px solid #ccc;
    padding: 4px 5px;
}
.error-404 a:hover {
    background-color: rgb(36, 85, 126);
    color: #fff;
}
.sigin {
    width: 400px;
}
.custom-wrapper-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.custom-title-signin {
    text-align: center;
}
.text-error-signin, .error-text {
    color: red;
    font-weight: normal;
    font-size: 18px;
}
.success-message {
    color: green;
}
.error-text {
    display: inline;
    float: right;
}
/* users */
.custom-info-btn-with {
    width: auto;
}
.custom-display-view-edit-users {
    display: flex;
    justify-content: space-evenly;
}
.custom-icon-edit-color {
    color: #000;
    margin-top: 7px;
}
.custom-icon-edit-color:hover {
    color: #888;
}
.custom-full-name-padding {
    padding-top: 7px !important;
}


/* Add new user */
.button-add-new-user {
    display: inline-block;
    width: auto;
    float: right;
}
.add-new-user-button {
    float: right;
}